streamlit
python-dotenv
pandas
langchain
langchain-google-genai
langchain-core
langchain-community
google-generativeai
chromadb
sentence-transformers
pypdf
unstructured
tiktoken
pysqlite3-binary
